
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Welcome
      p
        strong your password reset link:  localhost:3000/confirmAccount?token=#{jwt}&refreshToken=#{refreshToken}&type=#{type}
        