
html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 Welcome
      p
        strong Thanks for registering at OnWheels!

      p
      
        please confirm your account at this localhost:3000/confirmAccount?token=#{jwt}&refreshToken=#{refreshToken}&type=#{type}
        